hcloud_server_node_type  = "cx11"
hcloud_agent_node_type   = "cx11"
hcloud_loadbalancer_type = "lb11"
hcloud_location          = "nbg1"
hcloud_datacenter        = "nbg1-dc3"
hcloud_net_zone          = "eu-central"

server_node_count = 2
agent_node_count  = 3

hcloud_managed_cert_domains = ["*.example.com", "example.com"]
